.divClass1{
  text-align:center;

}
form {
  text-align:center;
  background-color: bisque;
  border-style: ridge;
  margin-bottom: 20px;
  padding-top: 20px;
}
div {
  text-align:center;
  margin: auto;
}

button.submit{
  width: 20%;
  background-color: cornflowerblue;
  color: white;
  margin-top: 20px;
  margin-bottom: 50px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  text-align:center;
  font-size: large;
  font-weight: 700;
}
label{
  color: gray;
}
.head{
   font-size: 50px;
  font-family: inherit;
}
.output{
  text-align:center;
  background-color: bisque;
  border-style: ridge;
  margin-bottom: 20px;
  padding-top: 20px;
}
.output1{
  text-align:left;
  padding-left: 100px;
}
.output2{
  text-align:left;
  padding-left: 100px;
}
.output3{
  text-align:left;
  padding-left: 100px;
}
.output4{
  text-align:left;
  padding-left: 100px;
}
.output5{
  text-align: left;
  padding-left: 100px;
}
